@charset "utf-8";

/*@import "bootstrap-for-sass/stylesheets/bootstrap-responsive";
@import "bootstrap-for-sass/stylesheets/bootstrap-compass";  */
 
$blue-color: #33CC99;
$gray-color: rgb(235, 235, 235); /*rgba(0, 0, 0, 0.15)*/
$light-gray-color: rgb(249, 249, 249);
$white-color: #FFFFFF;
$black-color: #000000;
$ok-color: #33CC99;
$ok-color2: #33BB99;

@mixin apply-font-type($font-style1:MyriadPro-Regular, $font-style2:'nanum gothic', $font-style3:sans-serif){
	font-family: $font-style1, $font-style2; 
	src: url("../fonts/MyriadPro/#{$font-style1}.otf") format("truetype");
}
 
body{
	@include apply-font-type();
	
	a{
		&:link{
			text-decoration: none;
		}
		&:visited{
			text-decoration: none;
		}
		&:active{
			text-decoration: none;
		}
		&:hover{
			text-decoration: none;
		}
	}		
}

/////////////////////// header navi /////////////////////
#floating_header {	
	@mixin header-inner{
		width: 980px;
		margin: 0 auto;
		padding-left: 10px; 
		padding-right: 10px;
		max-width: 100%; 
	}
	@mixin floating-header-inner-container{
		padding-top: 0px;
    	transition: all 0.5s linear;
	}
	@mixin header-inner-container-contents{
		position: relative;
		height: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		overflow: hidden;
	}
	@mixin header-inner-container-contents-left{
		float: left;
		display: inline-block;
		padding-top: 12px;
		padding-left: 5px;
	}
	@mixin header-inner-container-contents-right{
		padding-top: 10px;
		width: 70%;
		float: right;
		text-align: right;
	}
	@mixin header-inner-container-contents-right-search{
		display: inline-block;
		position: relative;
		margin-right: 15px;
		a{
			font-size: 17px;			
			-webkit-transition:-webkit-transform 2s;
    		transition:transform 2s;
			&:hover{
				-webkit-transform:rotate(720deg);
    			transform:rotate(720deg);
			}
		}
	}
	@mixin header-menu-left{
		float: left;
		display: inline-block;
		margin: 0 0 10px;
		@media only screen and (max-width: 991px){
			margin: 0 0 12px;
		}	
	}
	@mixin header-menu-right{
		list-style: none;
		display: inline-block;
		margin-right: -5px;
	}
	@mixin header-line($dis:block){	
		margin-top: -2px;
		border-top: 1px solid $gray-color;
		display: $dis;
	}
	@mixin header-menu-right-li($disp:inline){
		display: $disp;
		margin-right: 15px;
		box-sizing: border-box;		
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-moz-font-feature-settings: 'liga', 'kern';
		direction: ltr;
	}
	@mixin floating-search-big-text {
		position:absolute; width:350px; height:70px; z-index:2; display:none; margin:0 auto; top:15px; left:565px;
	}	
	@mixin li-nth($font-size:20px){
		&:nth-child(n){
			a{
				font-size:$font-size;
				font-weight: 600;					
				transition-property: color;
  				transition-duration: 1s;
				color: rgba(102, 102, 102, 0.6);
				
				&:visited{
					@extend a;
				}
				&:link{
					@extend a;
				}
				&:active{
					@extend a;
				}
				&:hover{
					font-weight: 700;	
					text-decoration:none;
					transition-property: color;
  					transition-duration: 1s;
					color: #333333;
					@include apply-font-type(MyriadPro-Bold);
				}
			}
		}
		&:nth-last-child(1){
			a{
				&:hover{
					transition-property: color;
  					transition-duration: 1s;
					font-weight: 700;
					text-decoration:none;
					color: #9900FF !important;
				}
			}
		}
	}
	@mixin floating-header-nav($bg-color:default){
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 1;
		opacity: 0.93;
		filter:alpha(opacity = 93);
		display: block;
		transition-property: background-color;
  		transition-duration: 2s;
		background-color:$bg-color;
	}
	/////////////////////////////////// up to this point "Sass Mixin for FloatingHeader cass" ///////////////////////////////////
	
	.floating_header_real{
		@include floating-header-nav($white-color);		
		
		.floating_header_inner {
			@include header-inner;
		}
		.floating_header_inner_container {
			@include floating-header-inner-container;
		}
		.floating_header_inner_container_contents {
			@include header-inner-container-contents;
		}
		.floating_header_inner_container_contents_left {
			@include header-inner-container-contents-left;
			
			.menu_left {
				@include header-menu-left;
			}
		}
		.floating_header_inner_container_contents_right {
			@include header-inner-container-contents-right;			
			.menu_right {
				@include header-menu-right;
				li {
					@include header-menu-right-li;
					@include li-nth;
					&:nth-last-child(1){
						a{
							font-size:20px;
							font-weight: 600;
							color: #33CC99;	

							&:link{
								@extend a;
							}
							&:visited{
								@extend a;
							}
							&:active{
								@extend a;
							}
						}
					}
				}
			}
			/////////////// 모바일 /////////////////////////////
			.small_menu_right{
				list-style: none;
				display : block;
				margin-right: -5px;
				margin-bottom: 0px;
				margin-top: 0px;

				li{ 
					@include header-menu-right-li(block);
					@include li-nth(30px);			
					&:nth-last-child(1){
						a{
							font-size:30px;
							font-weight: 600;
							color: #33CC99;
							text-decoration: none;

							&:link{
								@extend a;
							}
							&:visited{
								@extend a;
							}
							&:active{
								@extend a;
							}
							&:hover{
								@extend a;
							}
						}
					}
				}
			}
			.floating_header_inner_container_contents_right_search {
				@include header-inner-container-contents-right-search;
			}
			.floating_search_big_text {
				@include floating-search-big-text;
			}
		}
		.header_line {
			@include header-line();
		}
	}
	.floating_header_virtual {
		@include floating-header-nav($blue-color);

		.floating_header_inner {
			@include header-inner;
		}
		.floating_header_inner_container {
			@include floating-header-inner-container;
		}
		.floating_header_inner_container_contents {
			@include header-inner-container-contents;
		}
		.floating_header_inner_container_contents_left {
			@include header-inner-container-contents-left;
			
			.menu_left {
				@include header-menu-left;
			}
		}
		.floating_header_inner_container_contents_right {
			@include header-inner-container-contents-right;
			.menu_right {
				@include header-menu-right;
				
				li {
					@include header-menu-right-li;
					@include li-nth;
					&:nth-last-child(1){
						a{
							font-size:20px;
							font-weight: 600;
							color: #FFFFFF;
							&:link{
								@extend a;
							}
							&:visited{
								@extend a;
							}
							&:active{
								@extend a;
							}
						}
					}
				}
			}
			/////////////// 모바일 기기 /////////////////////////////
			.small_menu_right{
				list-style: none;
				display: block;
				margin-right: -5px;
				margin-bottom: 0px;
				margin-top: 0px;

				li{
					@include header-menu-right-li(block);
					@include li-nth(30px);

					&:nth-last-child(1){
						a{ 
							font-size:30px;
							font-weight: 600;
							color: $white-color;

							&:link{
								@extend a;
							}
							&:visited{
								@extend a;
							}
							&:active{
								@extend a;
							}
							&:hover{
								@extend a;
							} 
						}
					}
				} 
			} 			
			.floating_header_inner_container_contents_right_search {
				@include header-inner-container-contents-right-search;
			}
			.floating_search_big_text {
				@include floating-search-big-text;
			}
		}		
		.header_line {
			@include header-line(none);
		}
	}
	
	.floating_header_inner_container_contents_right_minimal{
		float:right;
		padding-top: 10px;
		width: 70%;
		padding-bottom: 5px;
		/*@extend .hidden-md;
		@extend	.hidden-lg;*/
	}
}
//////////////////////인덱스 첫번째 블록//////////////////////
.select_first_div {
	position: relative;
	display: block;
	max-height: 100%;
	box-sizing: border-box;
		
	@media only screen and (max-width: 767px){		
		margin-top:59.4px;
	}	
	@media only screen and (min-width: 768px) and (max-width: 991px){
		margin-top:67.2px;
	}	
	@media only screen and (min-width: 992px){
		margin-top:58.4px;
	}
	
	img{
		max-width: 100%;
		width: 100%;
		height: 100%;
		/*@extend .img-responsive;*/
	}
	.container.first_div_title{
		position: absolute;
		top : 30px;
		left : 200px;
		max-width: 50%;
		
		h1{
			font-weight: 500;
			color: $white-color;
		}
		small{
			color: $white-color;
		}
		.custom{
			background-color: rgba(0,0,0,.05);
			color: $white-color;
			border: 1px solid $white-color;
		}
	}
	.first_div_sub_title{
		position: relative;
		display: block;
		max-height: 100%;
		max-width: 100%;
		text-align: center;
		padding-bottom: 20px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
//////////////////////인덱스 두번째 블록//////////////////////
.select_middle_div{
	@mixin container-setting($container-width:default, $sub-marjin:30px, $title-font-size:15px, $h1-size:default, $bg-color:default, $padding-top:default){
		box-sizing: border-box;
		max-width: 100%;
		margin: 0 auto;
		position: relative;			
		padding-left: 20px;
		padding-right: 20px;
		width: $container-width;
		background-color:$bg-color;
		padding-top: $padding-top;

		.middle_subject{
			width: 100%;
			margin: $sub-marjin;
			margin-bottom: 10px;

			.subject_title{
				margin: 0 auto;
			}
			P{
				font-size: $title-font-size;
			}
			h1{
				font-size: $h1-size;
			}
		}
	}
	
	@mixin img-setting{
		display: inline;
		max-height: 100%;
		max-width: 100%;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-background-clip: padding-box;
		-moz-border-radius-topright: 5px;
		-moz-background-clip: padding;
		padding: 2px;
	}
	 
    text-align: center;	
	box-sizing: border-box;
	height: 100%;
	
	@media only screen and (max-width: 767px){		
		.container_1{
			@include container-setting(default,10px,default,30px,$light-gray-color,20px);
		}
	}	
	@media only screen and (min-width: 768px) and (max-width: 991px){
		.container_1{
			@include container-setting(980px,10px,13px,30px,$light-gray-color,20px);
		}
	}	
	@media only screen and (min-width: 992px){
		.container_1{
			@inculde container-setting(1050px);
			padding-top: 50px;
		}
	}	
	.card.first .card-title {	
		height: 160px;
		img{
			@include img-setting;	
		}
	}
	.card.second .card-title {
		height: 160px;
		img{
			@include img-setting;	
		}
	}
	.card.third .card-title {
		height: 160px;
		img{
			@include img-setting;	
		}
	}
	
	.card-list {
		display: inline-block;    	    
		box-sizing: border-box;
		text-align: center;	
		overflow: hidden;
		margin: 0 auto;

		@media only screen and (max-width: 767px) {		
			padding-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			padding-bottom: 10px;		
		}
		@media only screen and (max-width: 991px) and (min-width: 768px){
			width: 780px;
		}
		@media only screen and (min-width: 992px){
			width: 1025px;
		}	
	}
	
	.card {
    	-webkit-border-radius: 5px;
		-webkit-background-clip: padding-box;
		-moz-border-radius: 5px;
		-moz-background-clip: padding;
		border-radius: 5px;
	    border: 1px solid transparent;
		border-color: #ddd;
    	box-shadow: 0 1px 1px rgba(0,0,0,.05);
		background-clip: padding-box;
		background: $white-color;
		position: relative;
		max-width: 420px;
		margin: 0 auto;
		margin-bottom: 18px;
		min-height: 330px;
		max-height: 400px;
	
		@media only screen and (max-width: 991px) and (min-width: 768px){
			display: block;
			float: left;
			width: 240px;
			margin: 10px;
		}
		@media only screen and (min-width: 992px){
			display: block;
			float: left;
			width: 300px;
			margin: 20px;
		}
	}
	
	.card .card-title {
		text-align: center;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-webkit-background-clip: padding-box;
		-moz-border-radius-topright: 5px;
		-moz-background-clip: padding;
		border-top-right-radius: 5px;
		background-clip: padding-box;
		color: $white-color;
		box-sizing: border-box;	
		border-bottom: 1px solid #ddd; 
	}
	.card .card-body {
		padding: 5px 5px 25px 5px;
		font-size: 13px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-background-clip: padding-box;
		-moz-border-radius-bottomright: 5px;
		-moz-background-clip: padding;
		border-bottom-right-radius: 5px;
		background-clip: padding-box;
		box-sizing: border-box;
	}	
	.middle_a_btn{
		font-size: 8px;
		line-height: 1.5;
		display: inline-block;
		font-size: 14px;
		padding: 4px 16px;
		border-radius: 4px;
		color: $white-color;
		border: 1px solid $ok-color;
		background: $ok-color2;
		font-weight: 400;
		margin-bottom: 10px;

		&:visited{
			text-decoration: none;
			color: $white-color;
		}
		&:link{
			@extend :visited; 
		}
		&:active{
			@extend :visited;
		}
		&:hover{
			@extend :visited;
		}
	}
}
///////////////////////   bottom   ////////////////////////
.bottom_div {
	/*border-top: 1px solid $gray-color;*/	
	@include apply-font-type();
	.bottom_inner {
		max-width: 100%;
		/*width:980px;	*/
		margin: 0 auto;
		border-top: 1px solid $gray-color;
		/*border-top: 1px solid #33CC99;*/
	}
	.bottom_fixed { 
		width:980px;
		max-width: 100%;
		margin: 0 auto;
	}   
	.bottom_up {	
		text-align: center;
				
		@media only screen and (min-width: 768px){
			padding-top: 20px;
			margin-bottom: 20px;
		}
	}
	#bottom_go_top { 
		cursor: pointer;
	}
	.bottom_middle {
		margin: 0 auto;
		width: 95%;
	}
	.bottom_left {
		display: inline-block;
		
		@media only screen and (max-width: 991px){		
			width: 100%;
		}	
		@media only screen and (min-width: 992px){
			width: 89%;
		}
	}
	.bottom_right {		
		display: inline-block;
		width: 10%;		
	} 
	.choose_lang {
		display: inline;
		padding-left: 20px;
		background : url("../img/Resize_world_flags/WorldFlags/Korea-South.png") no-repeat left;
		&:hover{
			text-decoration: underline;
		}
	}
	.bottom_line_down {
		clear: both;
		border-top: 1px solid $gray-color;
		margin-top: 10px;
	}
	.bottom_copy {
		margin: 25px auto;
		text-align: center;
		vertical-align: middle;		
	}
}